/* Mixin */

@mixin grid ($columstart, $columend, $rowstart, $rowend) {
	position: relative;
	grid-column-start: $columstart;
	grid-column-end: $columend;
	grid-row-start: $rowstart;
	grid-row-end: $rowend;
}       

@mixin flexcenter ( $direction,$justify, $align) { 
	display: flex; 
	flex-flow: $direction; 
	justify-content: $justify; 
	align-content: $align;
}